<div class="jumbotron center">
  <h1>Welcome to My Pinterested App!</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <%= link_to("Log In", root_path, class: "btn btn-default" ) %>
  <%= link_to("Log In", root_path, class: "btn btn-primary" ) %>
</div>



